canvas {
  width: 100%;
  background-color: #fff;

  border: 1px solid gray;
}

textarea {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toolbar {
  padding-left: 10px;

  div {
    margin-bottom: 10px;
  }
}
