<ng-container>
    <div class="inner-content" nz-row>
        <div nz-col nzSpan="24">
            <nz-card nzTitle="文本编辑器">
                <div nz-row>
                    <div nz-col nzSpan="20">
                        <canvas #textEditor width="2000px" height="900px"></canvas>
                        <textarea #textArea></textarea>
                    </div>
                    <div class="toolbar" nz-col nzSpan="4">
                        <div>
                            <button nz-button nzType="primary" [disabled]="recordVideo$ | async"
                                (click)="startRecording()">开始录制</button>
                        </div>
                        <div>
                            <button nz-button nzType="primary" [disabled]="!(recordVideo$ | async)" nzDanger
                                (click)="stopRecording()">停止录制</button>
                        </div>

                        <div>
                            <a nz-button nzType="primary" target="_blank" [href]="videoUrl$ | async">
                                下载视频
                            </a>
                        </div>
                    </div>
                </div>


            </nz-card>
        </div>
    </div>
</ng-container>