:host {
  .inner-content {
    background: #fff;
    padding: 24px;
    height: 100%;
    box-sizing: border-box;

    div {
      height: 100%;

      nz-card {
        overflow-y: scroll;
        height: 100%;
      }
    }
  }
}
