:host {
  nz-layout {
    nz-header,
    nz-footer {
      background: rgba(16, 142, 233, 1);
      color: #fff;
    }

    nz-header {
      position: fixed;
      width: 100%;
    }

    nz-content {
      height: 100vh;

      padding: 94px 30px 103px 30px;
      box-sizing: border-box;
      overflow: hidden;

      div {
        background-color: #fff;
      }
    }

    nz-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;

      #github-icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
