<nz-layout>
  <nz-header>
    <span class="logo">{{ title }}</span>
    <ul nz-menu nzMode="horizontal" class="header-menu">
      <li nz-menu-item><a routerLink="/poster-in-canvas" routerLinkActive="active">绘制海报</a>
      </li>
      <li nz-menu-item><a routerLink="/poster-in-fabric" routerLinkActive="active">绘制实验</a></li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    <a aria-label="Info on Github" target="_blank" rel="noopener"
      href="https://github.com/hijiangtao/billboard-generator" title="GitHub">
      <img src="assets/github.svg" id="github-icon" />
    </a>
  </nz-footer>
</nz-layout>