<ng-container>
    <div nz-row>
        <div nz-col class="form-container" nzSpan="15">
            <nz-card nzTitle="海报配置">
                <!-- form -->
                <form nz-form class="form" [formGroup]="billboardForm">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="poster-logo">LOGO</nz-form-label>
                        <nz-form-control [nzSpan]="8">
                            <input #logoPathInput nz-input type="file" id="poster-logo" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="8" [nzOffset]="6">
                            <button nz-button nzType="primary" (click)="addImageFile('logoPathInput')">
                                <i nz-icon nzType="upload"></i>添加 Logo
                            </button>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="title" nzRequired>Title</nz-form-label>
                        <nz-form-control [nzSpan]="8">
                            <input nz-input type="text" formControlName="title">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="organization" nzRequired>Organization</nz-form-label>
                        <nz-form-control [nzSpan]="8">
                            <input nz-input type="text" formControlName="organization">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="time" nzRequired>Time</nz-form-label>
                        <nz-form-control [nzSpan]="8">
                            <input nz-input type="text" formControlName="time">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="address" nzRequired>Address</nz-form-label>
                        <nz-form-control [nzSpan]="8">
                            <input nz-input type="text" formControlName="address">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="vol" nzRequired>Vol</nz-form-label>
                        <nz-form-control [nzSpan]="8">
                            <input nz-input type="text" formControlName="vol">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="bgColor" nzRequired>Background Color</nz-form-label>
                        <nz-form-control [nzSpan]="4">
                            <input type="color" formControlName="bgColor" [value]="billboardForm.get('bgColor').value">
                        </nz-form-control>
                        <nz-form-control [nzSpan]="4">
                            <input nz-input type="string" formControlName="bgColor"
                                [value]="billboardForm.get('bgColor').value">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="topics" nzRequired>Topics</nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <textarea nz-input formControlName="topics" rows="5"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="description" nzRequired>Description</nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <textarea nz-input formControlName="description" rows="3"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item *ngIf="billboardData$ | async as billboardData">
                        <nz-form-label [nzSpan]="6" nzFor="themeColor">Extract from Pic</nz-form-label>
                        <nz-form-control [nzSpan]="6">
                            <input #themeColorInput nz-input accept="image/png" type="file"
                                (change)="addImageFile('themeColorInput', $event)">
                        </nz-form-control>
                        <nz-form-control [nzSpan]="3" *ngIf="billboardData.themeColor as themeColorImgUrl">
                            <img id="themeImg" class="theme-img" [src]="themeColorImgUrl">
                        </nz-form-control>
                        <nz-form-control [nzSpan]="4" *ngIf="billboardData.themeColor">
                            <button nz-button (click)="getThemeColorFromImg()">提取主题色</button>
                        </nz-form-control>
                        <nz-form-control [nzSpan]="4" *ngIf="imgThemeColor$ | async as imgThemeColor">
                            <nz-tag id="imgThemeColor" nz-tooltip [nzTooltipTitle]="'点我复制色值'"
                                (click)="copyText('imgThemeColor')" [nzColor]="imgThemeColor">
                                {{ imgThemeColor }}</nz-tag>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item *ngIf="imgUrl$ | async as imgUrl">
                        <nz-form-control [nzSpan]="8" [nzOffset]="6">
                            <button nz-button nzType="primary">
                                <a download="poster.png" [href]="imgUrl">
                                    <i nz-icon nzType="check-circle"></i>&nbsp;点击下载海报
                                </a>
                            </button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </nz-card>
        </div>
        <div nz-col nzSpan="9">
            <nz-card nzTitle="预览图">
                <app-canvas [info]="billboardData$ | async" (imageChange)="onImageChange($event)"></app-canvas>
            </nz-card>
        </div>
    </div>
</ng-container>